<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="static/styles.css">
    <script src="https://cdn.dojo.tech/payments/v1/client.js"></script>
</head>

<body>
    <h1>Wallet component</h1>
    <div id="demo-payment-wallet"></div>
    <div id="errors"></div>
    <div id="demo-result" hidden>
        <h5>Payment Complete</h5>
        <dl>
            <dt>Status Code</dt>
            <dd id="status-code"></dd>
            <dt>Auth Code</dt>
            <dd id="auth-code"></dd>
            <dt>Message</dt>
            <dd id="message"></dd>
        </dl>
    </div>
    <script src="static/script.js"></script>
</body>

</html>