/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.container {
  width: 100%;
  height: 100%;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  width: 100%;
  height: 42px;
  display: flex;
  align-items: center;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.App-Container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 48px;
  max-width: 800px;
}

button.checkout {
  width: 100%;
  height: 42px;
}

.image-placeholder {
  width: 320px;
  height: 320px;
  background-size: cover;

  background-image: url("./static/product1.png");
}

.checkout-details {
  padding: 0 32px;
  position: relative;
}

hr {
  margin-top: 32px;
}

.checkout-details .footer {
  margin-top: 64px;
  position: absolute;
  bottom: 0;
  left: 32px;
  right: 32px;
}
