button.logout {
  width: 88px;
  height: 44px;

  background: white;
  border-radius: 10px;
  margin-top: 25px;
  font-size: 16px;
  line-height: 24px;
  border-color: black;
  border-style: solid;

  color: black;
  cursor: pointer;
}

button.logout:hover {
  background: #EFEFEF;
}
  